<h1>Listing of IMCS</h1>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

<table>
  <thead>
    <th>Fecha</th>
    <th>Peso</th>
    <th>Altura</th>
  </thead>
  <tbody>
  <%= for imc <- @imcs do %>

  <% fecha_str = to_string(imc.fecha) %>

    <tr>
      <td> <%= link fecha_str, to:  Routes.my_imc_path(@conn, :show, fecha_str) %> </td>
      <td> <%= imc.peso_lb %> </td>
      <td> <%= imc.altura_cm %> </td>
    </tr>

  <% end %>

  </tbody>

  <%
  peso_kg =  @imcs
    |> Enum.map(fn imc -> imc.peso_lb end) 
    |> Enum.map(fn peso_lb -> peso_lb * 0.453592 end)

  altura_mt = @imcs
    |> Enum.map(fn imc -> imc.altura_cm end)
    |> Enum.map(fn altura_cm -> altura_cm / 100 end)

  imcs = Enum.zip(peso_kg, altura_mt)
    |> Enum.map(fn {peso, altura} -> peso / :math.pow(altura,2) end) 
  %>

  <%= raw(Poison.encode!(peso_kg)) %>

  <% fechas = Enum.map(@imcs, fn imc -> imc.fecha end) %>

  <script type="text/javascript">
    window.data = <%= raw(Poison.encode!(imcs)) %>
    window.labels = <%= raw(Poison.encode!(fechas)) %>
  </script>

  <div class="col-lg-12 col-sm-12 col-md-12">
    <canvas id="lineChart"></canvas>
  <div>

  <script src="js/my_imc/index.js"></script>

</table>